VITE_SUPABASE_URL=https://sua-url-do-supabase.supabase.co
VITE_SUPABASE_ANON_KEY=sua-chave-anon-aqui

# Credenciais da API Suri
SURI_TOKEN=seu-token-aqui
SURI_API_URL=https://cbm-wap-babysuri-cb89694138-dmi.azurewebsites.net/
SURI_CHANNEL_ID=seu-id-de-canal-aqui
SURI_TEMPLATE_ID=seu-template-aqui
SURI_TEMPLATE_ID_CARTEIRINHA=seu-template-da-carteirinha-aqui
